<!Doctype html>
<html>
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>{{title}}</h1>
            <div v-if="!token">
                <form @submit.prevent="login">
                    <div>
                        <label>Login:</label>
                        <input type="text" v-model="username" required>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" v-model="password" required>
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div v-else>
                <h2>My sections</h2>
                <button v-if="!showCreateSectionForm" @click="showCreateSectionForm = !showCreateSectionForm">Create New Section</button>
                <button @click="logout">Logout</button>
                <div v-if="showCreateSectionForm">
                    <form @submit.prevent="create_section">
                        <input type="text" v-model="newSectionTitle" required>
                        <button type="submit">Create Section</button>
                        <button type="button" @click="showCreateSectionForm = false; newSectionTitle = ''">Cancel</button>
                    </form>
                </div>

                <div v-for="section in sections" :key="section.id"> <!--Sections div-->
                    <div v-if="editingSectionId !== section.id">
                        <h3>{{ section.title }}</h3>
                        <button @click="start_edit_section(section)">Edit</button>
                        <button 
                            @click="request_delete_section(section.id)" 
                            :disabled="deletingSectionId === section.id && !deleteReady">
                            {{ deletingSectionId === section.id ? 'Confirm delete' : 'Delete' }}
                        </button>
                    </div>

                    <div v-else>
                        <form @submit.prevent="edit_section(section.id)">
                                <input type="text" v-model="editingSectionTitle" required>
                                <button type="submit">Save</button>
                                <button type="button" @click="editingSectionId = null">Cancel</button>
                        </form>
                    </div>
                        <button @click="expand_section(section.id)">{{ expandedSectionId === section.id ? 'Close' : 'Open'}}</button>
                        <div v-if="expandedSectionId === section.id">
                            <h4>Колоды:</h4>
        
                            <p v-if="sectionCardSets.length === 0">Здесь пока нет колод.</p>
                            
                            <ul v-else>
                                <li v-for="cardSet in sectionCardSets" :key="cardSet.id" style="margin-bottom: 10px;">
                                    <strong>{{ cardSet.title }}</strong> 
                                    <button @click="openCardSetPage(section, cardSet)">Учить слова</button>
                                </li>
                            </ul>
        
                            <button>+ Добавить колоду</button>
                        </div>
                </div>
            </div>
        </div>
        <script src="../scripts/app.js"></script>
    </body>
</html>